@{
    ViewData["Title"] = "Another Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is another page. If you can see this, you called Another controller Index action.</p>
    <div>
        <a asp-controller="Another" asp-action="Details">Details</a>
        <a asp-controller="Another" asp-action="Create">Create</a>
        <a asp-controller="Another" asp-action="Edit">Edit</a>
        <a asp-controller="Another" asp-action="Delete">Delete</a>
    </div>
</div>
